body{
    background-color: black;
}
.h1{
    display:flex;
    color:white;
    height: 3rem;
    gap:20px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-weight: lighter;
    flex-direction:row;
    background-color:peru;
    font-style: Mulish;
}

.Dinamita-titulo{
    text-align: center;
    color:rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.Yoatzin-título{
    text-align:center;
    background-color:#08807B ;
    width: 100%;
    
}

.navbar{
    background-color: #E4007F;
    width: 100%;
    height: 5rem;
    font-family: Corben;
    
    } 
.Yoatzin-título{
color: aliceblue;
font-family: Corben;
text-align: center;
margin-top: 30px;
margin-bottom: 50px;
}
    body{
    background-color: black;
    }
    #arregloTarjetas {
    margin-top: 10px;
    background-color: #08807B;
width: 100%;
margin-left: 10px;
margin-right: 10px;
justify-content: center;
    }

    .h1aN {
    color: white;
    font-size: 40px;
    font-family: Corben;
    text-align: center;
    }
    .ph1 {
        text-align: center;
    color: white;
    font-size: 20px;
    font-family: Mulish;
    margin-left: 30px;
    margin-right: 30px;
    }
    .Dinamita-J-Q{
        color: white;
        text-align: center;
        font-family: Mulish;
        padding: 27px;
        font-size:20px;
        margin: 30px;
    }
    .footer-basic{
    background-color: #F1A20B;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4rem;
    font-family: Mulish;
    /* color: #000000; */
    }